      <!DOCTYPE html>
      <html>
        <head>
      	  <title>First Page</title>
        </head>
         <body style="background-color:powderblue;">
           <center><h1 style="background-color:DodgerBlue;">Library Management System</h1></center>
           <center>
           <a href="https://www.google.co.in/"><q>Visit Google Search</q></a>
           </center>
         

           <form  style="background-color:pink;">
             <h2 style="color:gray"> Fill The Person Detail.</h2>
         	  Name :  <br>  
             <input type="text" name="name= ">  <br>
         	  mobile :<br>
         	 <input type="text" name="contact">  <br>
         	 tupe :<br>
         	 <input type="Name" name="type ">  <br>
         	 Department name :<br>
         	 <input type="text" name="department name=">  <br>
         	 address :<br>
         	 <input type="text" name="address ">  <br>
           </form>

         <br>
        
         </br>
       
           <!--
                   write any thing ,comment area..
             -->

          
        </body>
      </html>