<h2>Home page.</h2>
<table border="2">
   <tr>
   	  <td>
   	  	Person name
   	  </td>
   	  <td>
   	  	person department
   	  </td>
   	  <td>
   	  	person home
   	  </td>
   </tr>
  
   	 <% @people.each do |person| %> 
	  <tr>
     <td><%= person.name %></td>
    <td><%= person.department %></td> 
    <td><%= link_to person.home.name, home_detail_path(id: person.home.id) %></td>
     <% end %>
    </tr>

</table>
<h2> <%= link_to "All posts:", post_detail_path %></h2>