

  
<h2>Fill The Post Details.</h2>
  <form action="/create" method="post">
     post title:<br>
    <input type="text" name="title" >
    <br>
    person_id:<br>
    <input type="text" name="person_id" >
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
 
