
<body style="background-color: grey">
  
  <form  action ="/create_book_form" method="post">
    Book Name:<br>
    <input type="text" name="book_title" value="" >
    <br>
    Author:<br>
    <input type="text" name="author" value="" >
    <br>
    Price:<br>
    <input type="text" name="price" value="" >
    <br>
 
    <br>
    <input type="submit" value="Submit">
  </form>
 
</body>