   <h2> Home detail</h2>

   <table border="2">
   	<tr>
   		<td>Home name</td>
   		<td>Address</td>
   	</tr>
   	<tr>
   		<td><%= @home.name %></td>
   		<td><%= @home.address %></td>
   		
   	</tr>
   </table>