  <h2>Fill The Comment Details.</h2>
  <form action="/create_comment" method="post">
     person id:<br>
    <input type="text" name="person_id" >
    <br>
    post id:<br>
    <input type="text" name="post_id" >
    <br>
    comment title<br>
    <input type="text" name="body" >
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
 