<body style="background-color: pink;">
   <form   method="post"  >
             <h2 class="city"> Fill The Person Detail.</h2>
              Name :  <br>  
             <input type="text" name="name= ">  <br>
              mobile :<br>
             <input type="text" name="contact">  <br>
             Person type :  
                <ul>
                    <li>student</li>
                    <li>teacher</li>
                </ul>
             <input type="Name" name="type ">  <br>
             Department name :<br>
             <input type="text" name="department name=">  <br>
             Gender :
                <ul>
                   <li> 
                        male
                   </li>
                    <li>
                       female
                    </li>
                </ul>
             <input type="text" name=" gender">  <br>
             address :<br>
             <input type="text" name="address ">  <br>
            
             <input type="submit" value="submit"><br>
           </form>
</body>