<body style="background-color: grey">
  

  <form action="/create_person_form" method="post">
     Name:<br>
    <input type="text" name="name" >
    <br>
    Mob:<br>
    <input type="text" name="mob" >
    <br>
    Gender:<br>
    <input type="text" name="gender" >
    <br>
    Address:<br>
    <input type="text" name="address" >
    <br>
    Person_type:<br>
    <input type="text" name="person_type" >
    <br>
    Department_no:<br>
    <input type="text" name="department_id" >
    <br><br>
    <br>
    <input type="submit" value="Submit">
  </form>
 
</body>

 